.div-buttons-products-menagement {
    display: flex;
    gap: 15px;
}

.div-button-delete {
    display: flex;
    justify-content: center;
}

.button-delete {
    padding: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.div-button-edit {
    display: flex;
    justify-content: center;
}

.button-edit {
    padding: 15px;
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-dados-produto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.3em;

    & :is(input, textarea) {
        font-size: 1em;
        padding: 5px;
        resize: none;
    }

    & textarea {
        height: 100px;
    }
}

.form-imagem-pagina-produto {
    max-width: 700px;
}