/* Página Produto */

.main-produto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

.container-produto {
    display: flex;
    gap: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1000px;
}

.div-dados-produto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagem-pagina-produto {
    max-width: 300px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.nome-pagina-produto {
    font-size: 4em;
}

.descricao-pagina-produto {
    font-size: 1.25em;
}

.valor-pagina-produto {
    font-size: 1.6em;
}

.nota-produto-numero {
    font-size: 1.4em;
}

.buttons-pagina-produto {
    display: flex;
    gap: 15px;
}

.buttons-pagina-produto button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
    &:hover {
        scale: 1.2;
    }
}

.container-preco {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

.section-comentarios {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 800px;
    width: 100%;
}

.comentario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dados-comentario {
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.data-comentario {
    color: color-mix(in srgb, currentColor, white 60%);
    font-style: italic;
    font-size: 0.75em;
}

.mensagem-comentario {
    font-size: 1.3em;
    text-align: justify;
    padding: 10px;
}

.comentarios-vazio {
    font-size: 1.25em;
}